<div class="main">
  <div class="borders">
    <table>
      <thead>
        <tr>
          <th class="thumbnail-header">Immagine</th>
          <th>Prodotto</th>
          <th>Prezzo</th>
          <th>Quantità</th>
        </tr>
      </thead>

      <tbody>
      <tr *ngFor="let item of products; let i = index" class="text-gray-900 hover:bg-blue-100" (click)="onItemClick(item)">
        <td class="thumbnail-row">
          <div class="img-container">
            <img *ngIf="item.image" role="button" alt="" src="{{item.image}}">
          </div>
        </td>
        <td role="button">
          {{item.name}}
        </td>
        <td role="button" class="number">
          {{item.price}}
        </td>
        <td role="button" class="number">
          {{item.quantity}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<modal [modalId]="'product-detail-modal'" [title]="'Titolo'">
  <div body class="modal-body-details">

  </div>

</modal>
