<div class="main-container">
  <div class="title-container">
    <div class="logo">
      <img alt="" src="assets/images/grifo.png">
    </div>
    <div class="title">{{title}}</div>
    <div class="logo">
      <img alt="" src="assets/images/grifo.png">
    </div>
  </div>

  <div class="product-table-container">
    <div class="text-center mb-2">
      <span class="font-medium text-lg sm:text-2xl">I nostri prodotti</span>
    </div>
    <app-products-table [products]="products"></app-products-table>
  </div>
</div>

